
<nav class="bg-gray-900 text-white p-4 flex justify-end items-center">

  <ul class="hidden md:flex gap-6 items-center">
    <li><a href="#" class="hover:text-blue-400">Events</a></li>
    <li><a href="#" class="hover:text-blue-400">My Events</a></li>

    <li>
      <button
        class="ml-4 bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg font-medium flex items-center gap-2 transition duration-200 shadow-sm hover:shadow-md">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>

        <span>Create Event</span>
      </button>
    </li>

    <li>
      <button
        class="ml-2 border border-gray-500 hover:border-blue-500 text-gray-200 hover:text-white px-4 py-2 rounded-lg font-medium transition duration-200"
      >
        Sign in
      </button>
    </li>
  </ul>
  <button class="md:hidden text-gray-300 hover:text-white">
    ☰
  </button>
</nav>

